.column
{
	width: 14px;
	height: 18px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.row
{
	height: 18px;
	vertical-align: top;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mapselected
{
	font-weight: bold;
	color: red;
}

.paletteselected
{
	font-weight: bold;
	color: blue;
}

.empty:before
{
	content: " ";
}

.agent:before
{
	content: "@";
}

.wall:before
{
	content: "#";
}

#Map
{
	position: absolute;
	left: 0;
	cursor: crosshair
}

#Palette
{
	position: absolute;
	right: 0;
	cursor: crosshair
}

#Palette .row
{
	border: 2px solid black;
	width: 26px;
	height: 30px;
	vertical-align: top;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
